* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.ul-header {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.li-header {
  margin: 0.75rem;
  padding: 0.25rem;
}

.a-header {
  text-decoration: none;
  color: #242e52;
  font-size: 13px;
}

.img-logo {
  height: 23px;
  width: 120px;
  margin-top: 15px;
}

.button-get-star {
  border-radius: 50px;
  margin: 12px;
  padding: 8px 24px;
  border: none;
  background: #f3603b;
  color: white;
  box-shadow: 7px 9px 26px -2px rgba(0, 0, 0, 0.79);
}

.button-get-star:hover {
  background-color: rgba(219, 110, 59, 0.911);
  color: black;
}

.section-img {
  display: flex;
  padding: 110px;
}

.div-left-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-size: 58px;
  color: #232c50;
}

.p-div-left-1 {
  font-size: 18px;
  padding-right: 150px;
}

.div-left-2 {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 36px;
  color: #232851;
}

.section-img-2 {
  display: flex;
  padding: 0px 120px;
}

.p-div-left-2 {
  font-size: 16px;
  padding-right: 100px;
}

.div-article {
  display: flex;
  justify-content: flex-start;
}

.div-article-1 {
  border-radius: 50px;
  margin: 45px;
  padding: 4px 18px;
  border: none;
  background: #f3603b;
  color: white;
}
.div-right-2 {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.p-div-right-2 {
  color: #b3b2b7;
  padding-right: 50px;
}

h4 {
  color: #323851;
}

.section-img-3 {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.p-section3 {
  display: flex;
  justify-content: center;
  color: #242e53;
  font-weight: bold;
  font-size: 39px;
}

.div-btn-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-img-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 90px;
  background-color: #f3613c;
  color: white;
  height: 150px;
  font-size: 40px;
}

.p-section-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 40px;
}

.button-get-star-4 {
  border-radius: 50px;
  margin: 12px;
  padding: 8px 24px;
  border: none;
  background: white;
  color: #f3603b;
  box-shadow: 7px 9px 26px -2px rgba(0, 0, 0, 0.79);
}

.button-get-star-4:hover {
  background-color: rgba(219, 110, 59, 0.911);
  color: black;
}

.div-btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-around;
  background: black;
  height: 247px;
}

.section-foot-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#div-foot-1 {
  display: flex;
  justify-content: center;
}

.ul-foot-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 60px 30px;
}

.li-foot-1 {
  margin: 4px;
  padding: 2px;
}

.a-footer {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.ul-foot-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.li-foot-2 {
  margin: 4px;
  padding: 10px;
}

.div-btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p-form {
  color: #8c8c94;
  font-size: 12px;
}

form {
  display: flex;
  border-radius: 50px;
}

.radius {
  border-radius: 50px;
  height: 40px;
  width: 201px;
}

.section-foot-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
}

#div-cards {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.bloque {
  display: inline-block;
  align-items: stretch;
  margin-top: 154px;
  margin-left: 32px;
  position: relative;
  width: 300px;
  /*height: 530px;*/
}

.cabecera {
  position: absolute;
  width: 120px;
  height: 118px;
  left: 90px;
  top: -55px;
  border-radius: 50%;
  z-index: 1;
}

.descripcion {
  padding-top: 74px;
  background-color: #f3f3f3;
  height: 220px;
}

.h2-cards {
  color: #3f4868;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 375px) {
  .img-logo {
    display: flex;
    justify-content: flex-start;
  }
  #nav-mobile-1 {
    display: none;
  }
  #btn-mobile-1 {
    display: none;
  }
  .section-img {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 50px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  .p-div-left-1 {
    font-size: 13px;
    padding: 10px;
    text-align: center;
  }
  .section-img-2 {
    flex-direction: column;
    padding: 0%;
  }
  h2 {
    font-size: 35px;
    padding: 0px 10px;
    font-weight: bold;
    text-align: center;
  }
  .p-div-left-2 {
    font-size: 13px;
    padding: 0px 40px 35px;
    text-align: center;
  }
  .div-article {
    flex-direction: column;
    justify-content: flex-start;
  }
  .div-article-1 {
    border-radius: 50px;
    border: none;
    margin: 0%;
    padding: 0%;
    background: #f3603b;
    color: white;
    width: 50px;
  }
  h4 {
    justify-content: flex-end;
    padding-left: 100px;
    padding-top: -10px;
  }
  .p-div-right-2 {
    text-align: center;
    padding: 20px;
    font-size: 13px;
    text-align: left;
    line-height: 180%;
  }
  .bloq-mobile {
    display: none;
  }
  .p-section3 {
    font-size: 27px;
  }
  .section-img-4 {
    flex-direction: column;
    height: 300px;
    margin-top: 45px;
  }
  .p-section-4 {
    font-size: 37px;
    padding: 30px;
    text-align: center;
  }
  footer {
    flex-direction: column-reverse;
    height: 500px;
  }
  .ul-foot-1 {
    display: flex;
    list-style: none;
    padding: 0px;
  }
  .div-foot-nav {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
  }
  .div-foot {
    justify-content: flex-end;
  }
}
