#div_ofertas {
  background-color: black;
  height: 20px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 10px;
}

#p_oferta {
  position: relative;
  left: 90px;
}

#lenguaje {
  position: absolute;
  margin-top: 0px;
  left: 20px;
}

#menu {
  background-color: #f0a83e;
}
